.app {
  width: 95%;
  margin: 5px auto;
}

.post-list {
  background-color: papayawhip;
  padding: 5px;
}

.post {
  border: 1px solid lightgray;
  margin: 5px;
  padding: 5px;
}

.post-rating, post-body  {
  float: left;
}

.rating-icon{
  margin: 5px;
  font-size: 1.2em;
  cursor:pointer;
}

.rating-up{
  background-color: greenyellow;
}
.rating-down{
  background-color: red;
}